/* 

.container {
    display: flex;
    background: url(assets/meteor1.png) top right no-repeat;
    background-size: 95vw;
    background-color: #433538;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: space-between;
  }
  
  .header-section > h2 {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    font-size: 20vw; 
    font-weight: 900;
    font-family: 'Trade Gothic Bold Extended', sans-serif;
    line-height: 80%;
    color: #ef5965;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
  }
  
  .header-section > h3 {
    display: flex;
    justify-content: center;
    font-size: 10vw; 
    font-family: 'Trade Gothic Bold', sans-serif;
    color: #ef5965;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
  }
  
  .header-section {
    text-align: center;
    padding: 2vh; 
  }
  
  .button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh; 
  }
  
  .button-section > button {
    background-color: #ef5965;
    color: white;
    width: 50%; 
    height: 15vw; 
    font-size: 10vw; 
    font-weight: 800;
    font-family: 'Trade Gothic Bold', sans-serif;
    border: 2px solid #A5405C;
    border-radius: 5px;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
    margin: 2vh 0; 
  }
  
  .links-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh; 
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw; 
    height: 10vw; 
    border-radius: 50%;
    background-color: #ef5965;
    width: 10vw; 
    height: 10vw; 
    margin: 2vh;
    font-size: 8vw; 
    color: #433538;
  }
  
  */

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    background: url(assets/meteor1.png) top right no-repeat;
    background-color: #433538;
    background-size: 90vw;
    height: 100vh;
}

.header-section>h2 {
    font-size: 150px;
    font-weight: 900;
    font-family: 'Trade Gothic Bold Extended', sans-serif;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
    color: #ef5965;
    margin-top: 3vw;
}

.header-section>h3 {
    font-size: 75px;
    font-family: 'Trade Gothic Bold', sans-serif;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
    color: #ef5965;
    line-height: 50%;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-section>button {
    width: 350px;
    height: 75px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Trade Gothic Bold', sans-serif;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
    background-color: #ef5965;
    color: white;
    border: 2px solid #A5405C;
    border-radius: 5px;
    margin: 1vh 0;
}

.link-section {
    margin-bottom: 3vh;
}

.social-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 1vw;
    border-radius: 50%;
    background-color: #ef5965;
    color: #433538;
}

@media screen and (max-width: 800px) {
    .header-section>h2 {
        font-size: 100px;
    }

    .header-section>h3 {
        font-size: 50px;
    }

    .button-section>button {}

    .social-icon {}
}

@media screen and (max-width: 600px) {
    .header-section>h2 {
        font-size: 15vw;
    }

    .header-section>h3 {
        font-size: 8vw;
    }

    .button-section>button {
        width: 50vw;
        height: 20vw;
        font-size: 8vw;
        margin: 0.75vh 0;
    }

    .social-icon {
        width: 10vw;
        height: 10vw;
        padding: 2vw;
        margin: 0 1vw;
    }
}