.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the popup appears above everything else */
  }
  
  .popup-container {
    background-color: #000000; /* Popup background color */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }

  .popup-container img {
    max-width: 100%; 
    margin-bottom: 10px; 
  }
