.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh; /* TODO: Change this value to better adobt for different screen sizes */
  background-color: red; /* TODO: Change the background to something more suitable */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-button {
  color: green;
  font-size: 30px; /* TODO: Adjust this value based on design */
}

.left-button, .right-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.left-button:hover, .right-button:hover {
  background-color: #2980b9;
}



.ar-container {
  position: fixed;
  top: 10vh; /* TODO: Change this value to better adobt for different screen sizes */
  width: 100%;
  height: 70vh; /* TODO: Change this value to better adobt for different screen sizes */
  display: flex;
  box-shadow: inset 0 0 0 15px #2980b9; /* TODO: Change the background to something more suitable */
  box-sizing: border-box;
}

.border-inset {
  position: fixed;
  top: 10vh; /* TODO: Change this value to better adobt for different screen sizes */
  width: 100%;
  height: 70vh; 
  display: flex;
  box-shadow: inset 0 0 0 15px #2980b9; 
  border-radius: 30px; 
  box-sizing: border-box;
}

.bottom-fixed-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background-color: #f0f0f0;
  display: flex;
  overflow-x: auto;
}

.button-container {
  display: flex;
  padding: 15px;
}

.select-button {
  margin: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px; /* Set border radius for rounded corners */
  border: 1px solid black; /* Corrected typo here */
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.ar-button {
  position: absolute;
  top: 20px;
  height: 40px;
}
