.toggle-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .slider {
    position: relative;
    width: 60px;
    height: 30px;
    background-color:white;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    display:inline-block;
    
  }
  
  .slider.on {
    background-color: #ee5868;
  }
  
  .thumb {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #433538;
    border-radius: 50%;
    transition: left 0.3s;
  }
  
  .slider.off .thumb {
    left: 3px;
  }
  
  .slider.on .thumb {
    left: 33px;
  }
  