.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #000;
    width: 400px; /* TODO:  Adjust as later */
    padding: 20px;
}

.popup-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFF;
}

.popup-image {
    /* TODO: Add image styles for the left wing */
    width: 100%;
    height: 200px; /* Adjust as needed */
    background-color: #444; 
    margin-bottom: 20px;
}

.popup-text {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 20px;
}

.popup-button {
    width: 100%;
    padding: 10px 0;
    background-color: #444; 
    color: #FFF;
    border: none;
    cursor: pointer;
    text-align: center;
}

.popup-button:hover {
    background-color: #555;
}
