.view-container {
    background-color: #413539;
    min-height: 100vh;
  }
  
  .text-container {
    text-align: center;
    margin: 0 10vw; 
    padding: 5vh 0; 
  }
  
  .title {
    color: #ef5868;
    font-weight: bold;
    font-size: 5vw; 
    font-family: 'Gothic A1', sans-serif;
  }
  
  .description {
    font-family: "Roboto Mono", monospace;
    font-size: 3vw; 
  }
  
  .back-button {
    height: auto;
    font-size: 3vh; 
    padding: 2vh 3vw; 
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  