.progress-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.progress-bar {
    width: 700px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .progress-bar {
        width: 70vw;
    }
}