.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000000;
    opacity: .9;
    pointer-events: none; /* This will make sure that any of the clicks "pass through" the container */

    
    
}

.popup-content {
    background-image: url('/assets/space-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh; /* TODO:  Adjust as later */
    padding: 20vh;
    pointer-events: auto; /* This will enable clicks on the content and not the background */

}

.popup-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: bolder;
}

.popup-image {
    /* TODO: Add image styles*/
    width: 100%;
    height: 200px; /* Adjust as needed */
    background-color: #ef5965; 
    margin-bottom: 20px;
}

.popup-text {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 20px;
}

.popup-button {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff; 
    color: #ef5965;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

