.trivia-container {
    display: flex;
    flex-direction: column;
    background: url(/assets/meteor2.png) bottom left no-repeat;
    background-color: #433538;
    background-size: 90vw;
    height: 100vh;
}

.trivia-title {
    text-align: center;
    font-size: 100px;
    color: #ef5965;
}

.trivia-score {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.trivia-title,
.trivia-score {
    font-family: 'Trade Gothic Bold', sans-serif;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
}

.trivia-question-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.trivia-question {
    width: 800px;
    margin-top: 40px;
    margin: 0 100px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trade Gothic Light', sans-serif;
    color: #ffffff;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
}

.trivia-answer-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.selection-button {
    width: 700px;
    height: 75px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    font-family: 'Trade Gothic Bold', sans-serif;
}

.default-selection {
    background-color: #cf737bdb;
    color: #ffffff;
}

.active-selection {
    background-color: #ffffff;
    color: #433538;
}

.correct-selection {
    background-color: #36e347b0;
    color: #ffffff;
}

.action-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-button {
    background-color: #ef5965;
    color: white;
    width: 700px;
    height: 75px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Trade Gothic Bold', sans-serif;
    border: 2px solid #A5405C;
    border-radius: 10px;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
    margin: 1vh 0;
}

.trivia-feedback {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Trade Gothic', sans-serif;
    color: #ffffff;
    text-shadow: 2px 0 #433538, -2px 0 #433538, 0 2px #433538, 0 -2px #433538;
}

@media screen and (max-width: 800px) {
    .trivia-title {
        font-size: 10vw;
    }

    .trivia-score {
        font-size: 8vw;
    }

    .trivia-question {
        font-size: 3vw;
    }

    .trivia-feedback {
        font-size: 3vw;
    }

    .selection-button {
        width: 70vw;
        font-size: 3vw;
        height: 13vw;
        margin-top: 0.5vh;
    }

    .action-button {
        width: 70vw;
        font-size: 3vw;
        height: 10vw;
        margin-top: 0.5vh;
    }
}

@media screen and (max-height: 1050px) {
    .selection-button {
        height: 10vw;
    }
}